<main class="main-content" style="margin-top: 80px">
    {{#if flag}}
        <h3 class="text-center mt-5 pt-3 text-capitalize font-weight-bold">Tạo báo cáo theo học kỳ</h3>
        <form id="create-report-form" class="mx-auto mt-3" action="/report/term" method="GET" style="max-width: 500px">
            <div class="form-row my-3">
                <div class="col">
                    <label for="term-input">Học kỳ</label>
                    <select class="custom-select" id="term-input" name="term" required>
                        <option selected disabled value="">Chọn học kỳ</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Tạo báo cáo</button>
        </form>
    {{else}}
        <h3 class="text-center mt-5 pt-3 text-capitalize font-weight-bold">báo cáo tổng học kỳ</h3>
        <div class="row">
            <div class="col text-center">
                <h4 class="font-weight-bolder">
                    Học kỳ: {{term}}
                </h4>
            </div>
        </div>

        <div class="table-responsive-md my-3">
            <table id="table" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Lớp</th>
                        <th scope="col" class="text-center">Sĩ Số</th>
                        <th scope="col" class="text-center">Số lượng đạt</th>
                        <th scope="col" class="text-center">Tỉ lệ (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each report}}
                    <tr>
                        <th scope="row" class="text-center">{{@index}}</th>
                        <td class="text-center">{{this.TenLop}}</td>
                        <td class="text-center">{{this.SiSo}}</td>
                        <td class="text-center">{{this.Dat}}</td>
                        <td class="text-center">{{this.TiLe}}&nbsp;%</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    {{/if}}
</main>