<main class="main-content" style="margin-top: 80px">
    <h3 class="text-center mt-5 pt-3 text-capitalize font-weight-bold">Danh sách các lớp học</h3>
    <div class="table-responsive-md my-3">
        <table id="table" class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center align-middle">STT</th>
                    <th scope="col" class="text-center align-middle">Mã</th>
                    <th scope="col" class="text-center align-middle">Tên</th>
                    <th scope="col" class="text-center align-middle">Khối</th>
                    <th scope="col" class="text-center align-middle">Sĩ số</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each classes}}
                <tr>
                    <th scope="row" class="text-center align-middle">{{@index}}</th>
                    <td class="text-center align-middle">{{this.ID}}</td>
                    <td id="{{this.ID}}-name" class="text-center align-middle">
                        <a href="/class/{{this.ID}}" class="m-1 text-dark">{{this.Ten}}</a>
                    </td>
                    <td class="text-center align-middle">{{this.Khoi}}</td>
                    <td class="text-center align-middle">{{this.SiSo}}</td>
                    <td class="d-flex flex-column flex-lg-row justify-content-around    ">
                        <a href="/class/{{this.ID}}" class="m-1 btn btn-primary"><i
                                class="bi bi-info-circle-fill"></i></a>
                        <a href="/class/update/{{this.ID}}" class="m-1 btn btn-success"><i
                                class="bi bi-pencil-fill"></i></a>
                        <a data-toggle="modal" data-id="{{this.ID}}" action="/class/{{this.ID}}?_method=DELETE" href="#deleteModal" class="m-1 btn btn-danger" >
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</main>