<main class="main-content" style="margin-top: 80px">
    <h3 class="align-center">Cập nhật thông tin học sinh</h3>
    {{#if student}}
    <form class="mx-auto mt-3" action="/student/{{student.MaSo}}?_method=PUT" method="POST" style="max-width: 500px">
        <div class="form-row mb-2">
            <div class="col">
                <label for="studentId-input">Mã HS</label>
                <input type="text" class="form-control" id="studentId-input" name="MaSo" value="{{student.MaSo}}"
                    required readonly>
            </div>
        </div>

        <div class="form-row mb-2">
            <div class="col">
                <label for="name-input">Họ tên</label>
                <input type="text" class="form-control" id="name-input" name="HoTen" value="{{student.HoTen}}" required>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-6">
                <label for="birthday-input">Ngày sinh</label>
                <input type="date" class="form-control" id="birthday-input" name="NgaySinh" value="{{student.NgaySinh}}"
                    required>
            </div>
            <div class="col-md-6">
                <label for="gender-input">Giới tính</label>
                <select class="custom-select" id="gender-input" name="GioiTinh" required>
                    {{#ifCond student.GioiTinh "===" 1}}
                    <option value="1" selected>Nam</option>
                    <option value="0">Nữ</option>
                    {{/ifCond}}
                    {{#ifCond student.GioiTinh "===" 0}}
                    <option value="1">Nam</option>
                    <option value="0" selected>Nữ</option>
                    {{/ifCond}}
                </select>
            </div>
        </div>

        <div class="form-row mb-2">
            <div class="col">
                <label for="address-input">Địa chỉ</label>
                <input type="text" class="form-control" id="address-input" name="DiaChi" value="{{student.DiaChi}}"
                    required>
            </div>
        </div>

        <div class="form-row mb-2">
            <div class="col">
                <label for="email-input">Email</label>
                <input type="email" class="form-control" id="email-input" name="Email" value="{{student.Email}}"
                    required>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Cập nhật</button>
        <a href="/student/all" class="btn btn-secondary">Hủy</a>
    </form>
    {{else}}
    <p>Không tồn tại học sinh này</p>
    {{/if}}
</main>